body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

a{
    text-decoration: none;
}

main{
    max-width: 100%;
    margin: auto;
    display: block;
    border: 1px solid #e4e4e4;
}

header{
    display: block;
    padding: 50px 15px;
}

header #logotipo{
    display: block;
    margin: auto;
    max-width: 100%;
}

header #subtitulo{
    margin: auto;
    display: block;
    max-width: 100%;
}

nav{
    background: rgb(242,242,242);
    background: linear-gradient(0deg, rgba(242,242,242,1) 0%, rgba(246,246,246,1) 100%);
    padding: 20px 0;
    color: #8c8285;
    font-size: 0.95em;
    border: 2px solid #e4e4e4;
    border-left: none;
    border-right: none;

}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

nav ul li {
    display: block;
    text-transform: uppercase;
}


nav ul li.separador{
    display: none;
}

nav ul li a {
    color: #8c8285;
    text-decoration: none;
}

nav ul li.activo a {
    color: #37bdee
}

.banner{
    text-align: center;
}

.banner img{
    width: 100%;
}

.contenido{
    border: 1px solid #e4e4e4;
    background: linear-gradient(0deg, rgba(255,255,255,1) 73%, rgba(242,242,242,1) 100%);
}

.contenido.bg-blanco{
    background: #ffffff;
}

.contenido .encabezado{
    padding: 30px 30px 0;
}

.contenido .encabezado h1{
    color: #666666;
    margin: 0;
}

.contenido .principal{
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
}

.borde-puntos{
    border-top: 1px dotted #cdcdcd;
    margin: 0 auto;
    max-width: 90%;
}

.contenido .principal .bloque{
    flex: 1 1 70%;
    padding: 0;
}



.contenido .secundarios{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -2px;
    border-top: 1px solid #e4e4e4;
}

.contenido .secundarios .secundario{
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 100%;
    border: 1px solid #e4e4e4;
}

.bloque{
    padding: 30px;
}

.bloque h2{
    color: #666666;
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 10px;
}

.bloque p{
    color: #666666;
    margin: 0;
    margin-bottom: 20px;
}


.bloque a{
    color: #37bdee;
    display: inline-block;
    font-weight: bold;
}

.imagen img{
    width: 100%;
    border: 1px solid #d5d5d5;
}

.secundario .bloque a{
    color: #ffffff;
    background: #37bdee;
    padding: 10px 25px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 0.8em;
}

footer{
    padding: 10px;
    text-align: center;
    background-color: #f5f5f6;
    border: 1px solid #d5d5d5;
    border-top: none;
    font-size: 0.8em;
}

.placeholder{
    width: 215px;
    height: 130px;
    border: 1px solid #666666;
}

.fw-light{
    font-weight: lighter ;
}

.contacto{
    padding: 0 30px;
    margin-top: -30px;
    margin-bottom: 30px;
}
.contacto input{
    display: block;
    border: 1px solid #bbbbbb;
    width: 95%;
    margin: 10px 0;
    padding: 10px;
    font-size: 0.85em;
}

.contacto textarea{
    display: block;
    border: 1px solid #bbbbbb;
    margin: 10px 0;
    width: 100%;
}

.contacto button{
    color: #ffffff;
    background: #37bdee;
    padding: 5px 15px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 0.8em;
    border: none;
}


@media screen and (max-width: 1199) { 
    
}

@media screen and (min-width: 1200px) { 
    main{
        max-width: 60%;
    }
    nav ul li {
        display: inline-block;
        margin-right: 10px;
    }
    nav ul li.separador{
        display: inline-block;
    }

    .contenido .secundarios .secundario{
        flex: 1 0 49%;
    }

    .contenido .principal{
        flex-direction: row;
    }

    .contenido .principal .bloque.servicios{
        max-width: 70%;
    }

    .contacto input{
        width: 33%;
    }
    
    .contacto textarea{
        width: 50%;
    }

 }
